@media screen and (max-width: 625px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }

    .intro1 {
    margin: 0rem; 
    padding: 0rem;
    text-align: center;
    
}

.intro2 {
    margin: 0rem; 
    padding: 0rem;
    text-align: center;
    
    
}
}