@media screen and (max-width: 625px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
        position: sticky;
        top: 0;
        z-index: 100;
        background: hsla(0, 0%, 0%, 0.726);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(100px) ;
        padding: 0.5rem;
        height: fit-content;
        justify-content:space-between;

        
    }

    


    

    .intro1 {
    margin: 0rem; 
    padding: 0rem;
    text-align: center;
    
}

.intro2 {
    margin: 0rem; 
    padding: 0rem;
    text-align: center;
    
    
}

.hero h1{
    font-size: 2rem;
    display: flex;
    /* font-size: clamp(3em,8vw,9em); */
    /* text-transform: uppercase; */
    font-weight: bold;
    padding: 0rem;
    margin: 0rem;
    
    
}

}