
@import url('https://api.fontshare.com/v2/css?f[]=bespoke-serif@400&f[]=tanker@400&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@1&display=swap');



/* Scroll bar */
body::-webkit-scrollbar{
    width: 0.4rem;
}

body::-webkit-scrollbar-track{
    background:rgb(31, 30, 30) ;
}

body::-webkit-scrollbar-thumb{
    background:#00eeff ;
    
}

/* NAV */
/* Transition */

a, .btn {
    transition: all 300ms ease;
}

/* Desktop Nav */
#desktop-nav{
    position: sticky;
    top: 0;
    z-index: 100;
}

.navBar-container{
    background: hsla(0, 0%, 0%, 0.726);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(100px) ;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

nav, 
.nav-links{
    display: flex;
    flex-direction: row;
    
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    padding-top: 1rem;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 1rem;
    padding-left: 1rem;
    font-weight: 400;
    
}

a{
    color: white;
    text-decoration: none;
    text-decoration-color:white;
}

a:hover{
    color: rgb(255, 253, 253);
    text-decoration: underline;
    text-underline-offset: 0.5rem ;
    text-decoration-color: white ;
    font-weight: bold;
    font-size: 1.5rem;
}

.logo{
    font-size: 1rem;
    color: white;
    cursor: default;
    font-weight: bold;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    padding-right: 1rem;
}

.logo:hover{
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

/*hamburger menu*/
#hamburger-nav{
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 36px;
    width: 45px;
    cursor: pointer;
}

.hamburger-icon span{
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.3 ease-in-out;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0%;
    width: fit-content;
    max-height: 0 ;
    overflow: hidden ;
    transition: all 0.3 ease-in-out;
    background: hsla(0, 0%, 0%, 0.562);
    backdrop-filter: blur(5000px);
    -webkit-backdrop-filter: blur(20px) ;
    border-radius: 0.5rem;
    
    
}





.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
    
}

.menu-links li{
    list-style: none;
    

}

.menu-links.open{
    max-height: 300px;
    

}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px,15px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    
    transform: rotate(-45deg) translate(10px,-15px);
}

.hamburger-icon span:first-child{
    transform: none;
}

.hamburger-icon span:first-child{
    opacity: 1;
}

.hamburger-icon span:first-child{
    transform: none;
}




/* BASE HTML */


html{
    scroll-behavior: smooth;
}

body{
   
    /* font-family: 'Bespoke Serif', serif;  */
    /* font-family: 'Tanker', sans-serif;  */
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
    
    overflow-x: hidden;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    pointer-events: none;
    
}

.all{
    background: hsla(0, 0%, 41%, 0.25);
    backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(60px) ;
}



.hero{
    /* font-family: 'Tanker', sans-serif; */
    height: 90vh;
    min-height: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.hero::before{
    content: "";
    /* background: hsla(0, 0%, 41%, 0.25);
    backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(60px) ; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero div{
    text-align: center;
    z-index: 1;
}

.hero h1{
    font-size: 3rem;
    display: flex;
    /* font-size: clamp(3em,8vw,9em); */
    /* text-transform: uppercase; */
    font-weight: bold;
    padding: 0rem;
    margin: 0rem;
    
    
}

.hero h2{
    font-size: 2rem;
    
    
}

.hero p{
    font-size: 1rem;
    max-width: 600px;
    margin: 0rem;
    padding: 0rem;
}

.introDiv{
    margin: 0rem;

}


.intro1 {
    margin: 0rem; 
    padding: 0rem;
    text-align: start;
    
}

.intro2 {
    margin: 0rem; 
    padding: 0rem;
    text-align: end;
    
    
}








.ProfileLinks{
    margin: 1rem;

}




.Logo{
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
    cursor: pointer;

}

.Logo:hover{
    width: 3rem;
    height: 3rem;
    margin: 0rem;
    cursor: pointer;
    

}






.TopLeft{
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: 90%;
    right: 90%;
}

.TopRight{
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: 90%;
    left: 90%;
}

.BottomLeft{
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 90%;
    right: 90%;
}

.BottomRight{
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 90%;
    left: 90%;
}


/* NAV */




/* ABOUT */

.about{
    /* height: 100vh; 
    min-height: 30em;*/
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    overflow: hidden;
    
}

.about::before{
    content: "";
    /* background: hsla(0, 0%, 41%, 0.25);
    backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(60px) ; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}






.about div{
    
    z-index: 1;
    
}


.about-container{
    display: flex;
    flex-direction: column;
    border:  #00eeff00 solid 1px;
    min-height: 20rem;
    max-height: fit-content;
    max-width: 80%;
    border-radius: 1rem;
    background: hsla(0, 0%, 0%, 0.486);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(0px);
    
    
}



.about-container hr {
    width: 100%;
    margin: 0;
    border: none;
    border-top: 1px solid #ffffff; /* match your border thickness/color */
    align-self: stretch; /* ensures it fills the flex container */
    

}

.container-title{
    padding: 0.3rem;
    padding-left: 1rem;
}

.about-text{
    padding: 1rem;
}
